body {
	text-align: center;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	width: 80%;
}
main {
	display: block;
	margin: auto;
}
section {
	display: flex;
	flex-wrap: wrap;
	margin: 20vh auto 0;
	justify-content: center;
}
section:first-of-type {
	width: 15rem;
}
label {
	margin-left: auto;
	line-height: 1.2;
}
input {
	margin: 0 0.5rem;
	margin-right: auto;
}
input[type='range'] {
	display: block;
	width: 100%;
	margin: 1rem 0;
}
section + section {
	display: block;
}

section + section p:first-of-type {
	font-weight: bolder;
	font-size: larger;
}
